.form__item {
  margin: 0 auto;
  max-width: 320px;
}

.form__label {
  font-weight: bold;
  margin: 8px 0 4px 16px;
  display: block;
  text-align: left;
}
.form__input,
.form__select {
  min-width: 300px;
  padding: 8px 16px;
  width: 100%;
  border-radius: 50px;
  border: solid 2px var(--color-theme-blue-dark);
  padding: 8px 16px;
  font-size: var(--font-l);
  box-shadow: inset 0 0 5px 0px rgba(0, 0, 0, 0.5);
}

.form__select {
  box-shadow: none;
  color: var(--color-theme-dark);
  border-radius: 5px;
  box-shadow: none;
  padding: 8px;
  background: url('../../assets/down-arrow.svg') no-repeat right
    var(--color-gray-100);
  -webkit-appearance: none;
  background-position-x: calc(100% - 8px);
  background-size: 16px;
}

.form__select:focus {
  background: url('../../assets/up-arrow.svg') no-repeat right
    var(--color-gray-100);
  background-position-x: calc(100% - 8px);
  background-size: 16px;
}

.form__select option {
  color: var(--color-theme-dark);
  background-color: var(--color-gray-100);
  box-shadow: none;
}

.form__error {
  color: var(--color-theme-red);
  font-size: var(--font-s);
  text-align: left;
  padding: 0 16px;
  min-height: 24px;
  visibility: hidden;
}

.form__error.form__error--active {
  visibility: visible;
}
