.event-tile {
  transition: all 0.3s;
  box-shadow: var(--box-shadow-light);
  border-radius: 10px;
  overflow: hidden;
  height: 100%;
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
  padding-bottom: 16px;
}

.event-tile:hover {
  transition: all 0.3s;
  box-shadow: var(--box-shadow-light-hover);
}

.event-tile__link {
  display: block;
  height: 200px;
}

.event-tile__image {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.event-tile__details {
  padding: 16px;
  text-align: left;
  flex-grow: 2;
}

.event-tile__details-title {
  padding: 8px 0;
  margin: 0;
  font-size: var(--font-l);
}

.event-tile__details p {
  margin: 4px auto;
}

.event-tile__wishlist-stepper {
  display: flex;
  padding: 0 16px;
  justify-content: flex-end;
}

.event-tile__wishlist-stepper-value {
  min-width: 34px;
  height: 40px;
  line-height: 40px;
  font-weight: bold;
  font-size: var(--font-m);
  border-top: solid 1px var(--color-gray-400);
  border-bottom: solid 1px var(--color-gray-400);
}

.event-tile__wishlist-stepper-btn--minus {
  width: 40px;
  height: 40px;
  border: solid 1px var(--color-gray-400);
  border-radius: 5px 0 0 5px;
  cursor: pointer;
  font-size: var(--font-l);
}

.event-tile__wishlist-stepper-btn--plus {
  width: 40px;
  height: 40px;
  border: solid 1px var(--color-gray-400);
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: var(--font-l);
}
