.search-bar {
  margin: 16px auto;
  padding: 8px 0;
  max-width: 960px;
}

@media screen and (max-width: 768px) {
  .search-bar {
    margin: 8px;
  }
}

.search-bar__input {
  width: 100%;
  border-radius: 50px;
  border: solid 2px var(--color-theme-blue-dark);
  padding: 8px 16px;
  font-size: var(--font-l);
  box-shadow: inset 0 0 5px 0px rgba(0, 0, 0, 0.5);
}

.search-bar__input:focus {
  border-color: solid 2px var(--color-theme-blue-dark);
}
