.stepper {
  display: flex;
  margin: 4px 0;
  padding: 4px 16px;
  flex-flow: column nowrap;
  justify-content: flex-end;
}

.stepper--buttons {
  display: flex;
  justify-content: flex-end;
  border-radius: 5px;
  box-shadow: var(--box-shadow-thin);
}

.stepper-value {
  min-width: 34px;
  height: 40px;
  line-height: 40px;
  font-weight: bold;
  font-size: var(--font-m);
}

.stepper-btn--minus {
  width: 40px;
  height: 40px;
  border: none;
  border-right: solid 1px var(--color-gray-200);
  border-radius: 5px 0 0 5px;
  cursor: pointer;
  font-size: var(--font-l);
}

.stepper-btn--plus {
  width: 40px;
  height: 40px;
  border: none;
  border-left: solid 1px var(--color-gray-200);
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: var(--font-l);
}

.stepper--action {
  margin: 16px 0 4px;
  padding: 4px 8px;
  font-size: var(--font-l);
  background-color: var(--color-theme-red);
  color: white;
  border: solid 4px var(--color-theme-red);
  border-radius: 5px;
  display: inline-block;
  opacity: 1;
  transition: all 0.3s linear;
  cursor: pointer;
  box-shadow: var(--box-shadow-thin);
}

.stepper--action:hover {
  color: var(--color-theme-red);
  border: solid 4px var(--color-theme-red);
  background-color: white;
  transition: all 0.3s;
}

@media screen and (max-width: 768px) {
  .stepper--action:hover {
    background-color: var(--color-theme-red);
    color: white;
    border: solid 4px var(--color-theme-red);
    transition: all 0.3s;
  }
}

.stepper-value-disabled,
.stepper--action:disabled,
.stepper--action[disabled] {
  opacity: 0.6;
  pointer-events: none;
}
