* {
  box-sizing: border-box;
}

:root {
  --color-gray-100: #f4f3f1;
  --color-gray-200: #dddbd8;
  --color-gray-300: #ccc9c6;
  --color-gray-400: #aeaba7;
  --color-gray-500: #8a8784;
  --color-gray-600: #656360;
  --color-gray-700: #4b4a47;
  --color-gray-800: #31302e;
  --color-gray-900: #1f1d1b;

  /* Bedazzled Blue Color Palette */
  --color-theme-blue-dark: #3d5a80;
  --color-theme-blue-light: #98c1d9;
  --color-theme-blue-white: #e0fbfc;
  --color-theme-red: #ee6c4d;
  --color-theme-dark: #293241;

  /* Box Shadow */
  --box-shadow:  0 0 5px 0 rgba(0, 0, 0, 0.75);
  --box-shadow-light: 0 0 10px -4px rgba(0,0,0,0.65);
  --box-shadow-light-hover: 0 0 18px -4px rgba(0,0,0,0.65);

  /* Font sizes */
  --font-xxl: 24px;
  --font-xl: 20px;
  --font-l: 16px;
  --font-m: 14px;
  --font-s: 12px;

  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;
  color: var(--color-theme-dark);
  background: white;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

html,
body,
.root {
  margin: 0;
  height: 100%;  
  overflow: auto;
  overflow: overlay;
}

.root {
  display: flex;
  flex-flow: column;
  height: 100%;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}